[user]
	name = Sebastian Wezel
	email = Sebastian.Wezel@harman.com
[color]
	ui = auto
[core]
        pager = less -FRSX
[push]
	default = simple
[diff]
	#external = git-meld
	tool = meld
[rerere]
	enabled = true
[alias]
	a = add
	co = checkout
	cl = clone
	cms = commit -sm
	st = status
	br = branch
	di = diff
	dic = diff --cached
        restore-file = !git checkout $(git rev-list -n 1 HEAD -- "$1")^ -- "$1"
	subup = submodule foreach 'git remote update && echo'
	subst = submodule foreach 'git status && echo'
	subgr = !bash -c \"git submodule foreach 'git grep $2 $1 || true && echo'\"
	subtig = submodule foreach 'git tig $name'
	tig = "!f() { s=$1; n=\"${s##meta-}\"; tmux new-window -n $n tig --all; }; f"
    acm = "!f() { git add $1; git commit -sm \"updated $1\"; }; f"
[tig "bind"]
	main = H view-refs
[tig "color"]
	date = cyan default
	graph-commit = cyan default
